// Copyright (C) 2022 Roberto Rossini <roberros@uio.no>
//
// SPDX-License-Identifier: MIT

params {
    sample_sheet  = null  // required when 'cooler_cis' and 'cooler_trans' are undefined
    sample        = null  // required when 'sample_sheet' is undefined
    cooler_cis    = null  // required when 'sample_sheet' is undefined
    cooler_trans  = null  // required when 'sample_sheet' is undefined
    tads          = null
    outdir        = "results/"

    cytoband      = null  // optional but recommended
    assembly_gaps = null  // optional but recommended

    cis_log_ratio      = 2.0
    cis_fdr            = 0.01
    trans_log_ratio    = 2.0
    trans_fdr          = 0.01
    clique_size_thresh = 5

    // Compression level used to compress intermediate files
    zstd_compression_lvl = 8
}

process {
    container = 'ghcr.io/robomics/call_tad_cliques:0.0.8'
}
