// Copyright (C) 2022 Roberto Rossini <roberros@uio.no>
//
// SPDX-License-Identifier: MIT

params {
    data_dir = 'test/data'
    script_dir = '/scripts'
    output_dir = 'test/data/output/'

    cytoband = 'https://hgdownload.cse.ucsc.edu/goldenPath/hg38/database/cytoBand.txt.gz'
    assembly_gaps = 'https://hgdownload.cse.ucsc.edu/goldenPath/hg38/database/gap.txt.gz'

    cis_bin_size = 50000
    trans_bin_size = 1000000

    cis_log_ratio = 2.0
    cis_fdr = 0.01

    trans_log_ratio = 2.0
    trans_fdr = 0.01

    mcools = "${data_dir}/*.mcool"
    tads = "${data_dir}/*_domains.bed"
    zstd_compression_lvl = 8
}

process {
    container = 'docker://ghcr.io/robomics/call_tad_cliques:sha-7054c3f'
}

singularity {
    cacheDir = 'containers/cache'
    enabled = true
    runOptions = "-B ${launchDir}/scripts:${params.script_dir}:ro"
}