// Copyright (C) 2022 Roberto Rossini <roberros@uio.no>
//
// SPDX-License-Identifier: MIT

params {
    // outdir =     'results/'
    // mcools =     'https://4dn-open-data-public.s3.amazonaws.com/fourfront-webprod/wfoutput/8b9d6836-0d6b-4c2f-9eaa-323f4fd7b6e4/4DNFI74YHN5W.mcool'
    tads = null
    cytoband =      'https://hgdownload.cse.ucsc.edu/goldenPath/mm10/database/cytoBand.txt.gz'
    assembly_gaps = 'https://hgdownload.cse.ucsc.edu/goldenPath/mm10/database/gap.txt.gz'

    cis_bin_size = 100000
}

process.containerOptions = "--user root"
docker.enabled = true
