// Copyright (C) 2022 Roberto Rossini <roberros@uio.no>
//
// SPDX-License-Identifier: MIT

params {
    // outdir = 'test/data/output/'

    // mcools = 'https://4dn-open-data-public.s3.amazonaws.com/fourfront-webprod/wfoutput/b8433b98-16f8-46f7-8e13-7bb8e996ddc1/4DNFIFJH2524.mcool'
    tads = null
    cytoband = 'https://hgdownload.cse.ucsc.edu/goldenPath/hg38/database/cytoBand.txt.gz'
    assembly_gaps = 'https://hgdownload.cse.ucsc.edu/goldenPath/hg38/database/gap.txt.gz'
}

process.containerOptions = "--user root"
docker.enabled = true
